<!DOCTYPE html>
<html>
<head>
    <title>SSTI Beginner Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</head>
<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Ethical Hacking: SSTI</h1>
          <p class="lead">{{ quote }} - optional</p>
        </div>
      </div>

<div class="container">
    <div class="row row-cols-4">
        <div class="col">
        </div>
        <div class="col col-6">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>